.container {
    width: 80%;
    max-width: 350px;
    height: 70vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 9px 10px 24px 3px rgba(64, 61, 61, 0.69);
    -webkit-box-shadow: 9px 10px 24px 3px rgba(64, 61, 61, 0.69);
    -moz-box-shadow: 9px 10px 24px 3px rgba(64, 61, 61, 0.69);
}

.fields {
    margin: 5% 10%;
}

.fields__title {
    display: flex;
    justify-content: center;
}

#field__title {
    font-size: 22px;
    color: rgb(58, 58, 58);
    margin-top: 20px;
    margin-bottom: 3%;
}

.fields__textbox {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
}

.fields__textbox>input {
    height: 35px;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 10px;
}

.fields__remember {
    margin-bottom: 20px;
    font-size: 14px;
}

#btn-login {
    width: 100%;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.fields__recovery>a,
.fields__create>a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.fields__recovery {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20%;
}

.field__recovery {
    font-size: 14px;
}

.fields__create {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0;
}