@media screen and (min-width:600px) {
    .container {
        margin-top: 10px;
    }
    #field__title {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .fields__textbox {
        height: 100px;
    }
    .fields__textbox>input {
        height: 40px;
        margin-bottom: 10px;
    }
    .logo {
        margin-top: 20px;
    }
}

@media (max-width:420px) {
    .container {
        margin-top: 50px;
        height: 60vh;
    }
    .register__select__radio {
        margin-top: 2px;
    }
    .register__select {
        font-size: 16px;
        margin-top: 3px;
    }
}